<div class="conteiner">
    <nav>
        <h1 routerLink="/home">Logo</h1>
        <h2>
            <ul>
                <li routerLink="/home">Home</li>
                <li routerLink="/cat-post">Cadastrar Animal</li>
                <li routerLink="/cat-list">Ver todos</li>
                <li><a href="http://instagram.com/catu.css" target="_blank">Redes Sociais</a></li>
                <li><a href="http://github.com/catureba/cat-menager" target="_blank">Nosso repositorio</a></li>
            </ul>
        </h2>
    </nav>
</div>